body{
	margin: 0rem;
	padding: 0rem;
	font-family: sans-serif;
	background: #344956
}
.box{
	width: 18rem;
	padding: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	background: #191919;
	text-align: center;

}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 200;
}
.box input[type="text"],.box input[type="password"]{
	border:0;
	background: none;
	display: block;
	margin: 2rem auto;
	text-align: center;
	border:2px solid #3498db;
	padding: 1rem;
	width: 150px;
	outline: none;
	border-radius: 2rem;
	color: white;
	transition: 0.3s;

}
.box input[type="text"]:hover{
	width: 15rem;
	background: #2ecc71;
}
.box input[type="password"]:hover{
	width: 15rem;
	background: #2ecc71;
}
.box input[type="submit"]{
	border-radius: 2rem;
	background: black;
	color: white;
	width: 5rem;
}
.box input[type="submit"]:hover{
	background: #2ecc71;
	border-radius: 2rem;
	width:6rem;
}