body{
	margin: 0rem;
	padding: 0rem;
	font-family: sans-serif;
	background: #565134
}
.container{
	width: 18rem;
	padding: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	background: #fc0808;
	text-align: center;

}
.list{
	color: white;
}
.rows{
	color: whitesmoke;
}